<p class="btn-destaq">Meus Favoritos</p>


<a [routerLink]="['/']" routerLinkActive="router-link-active"> Home</a>
<br>
<a [routerLink]="['/book-details', '2']" routerLinkActive="router-link-active"> Detalhes</a>

<!-- Campo para filtrar por tags -->
<div>
    <label for="filterTag">Filtrar por tag:</label>
    <input type="text" id="filterTag" [(ngModel)]="filterTag" (input)="filterByTag()" placeholder="Digite uma tag para filtrar" />
</div>

<img src='assets/images/goodreads.svg' alt="Goodreads logo">

<!-- Botão "Clean" aparece somente se o campo filterTag não estiver vazio -->
<button *ngIf="filterTag" (click)="clearFilter()">Limpar</button>

<div *ngIf="filteredBooks.length > 0; else noBooks">
    <div *ngFor="let item of filteredBooks; trackBy: trackById">
        <img [src]="item.volumeInfo.imageLinks?.thumbnail" alt="{{ item.volumeInfo.title }}">
        <p>{{ item.volumeInfo.title }}</p>

        <!-- Input para o campo 'favorite' -->
        <label for="favorite-{{item.id}}">Favorito:</label>
        <input type="checkbox" id="favorite-{{item.id}}" [(ngModel)]="item.favorite" (ngModelChange)="toggleFavorite(item)" />

        <!-- Input para o campo 'notes' -->
        <label for="notes-{{item.id}}">Anotações:</label>
        <textarea id="notes-{{item.id}}" [(ngModel)]="item.notes" (input)="updateBook(item)" rows="4" cols="50"></textarea>

        <!-- Input para o campo 'range' -->
        <label for="range-{{item.id}}">Faixa:</label>
        <input type="number" id="range-{{item.id}}" max="5" min="0" [(ngModel)]="item.range" (input)="updateBook(item)" />

        <!-- Gerenciamento das tags -->
        <div>
            <label for="tags-{{item.id}}">Tags:</label>

            <!-- Lista as tags já existentes -->
            <ul>
                <li *ngFor="let tag of item.tags; let i = index">
                    {{ tag }}
                    <button (click)="removeTag(item, i)">Remover</button>
                </li>
            </ul>

            <!-- Campo para adicionar nova tag -->
            <input type="text" [(ngModel)]="newTag[item.id]" placeholder="Nova tag" />
            <button (click)="addTag(item)">Adicionar Tag</button>
        </div>

        <hr />
    </div>
</div>

<ng-template #noBooks>
    <p>Sem livros encontrados</p>
</ng-template>
