<main>

    <nav>
        <label for="filterTag">Filter by tag:</label>
        <input type="text" id="filterTag" [(ngModel)]="filterTag" (input)="filterByTag()"
            placeholder="Enter a tag to filter" />
        <button *ngIf="filterTag" (click)="clearFilter()">
            <i class="pi pi-replay"></i>
        </button>
    </nav>

    <div class="gap" *ngIf="filteredBooks.length > 0; else noBooks">
        <div class="right" *ngFor="let item of filteredBooks; trackBy: trackById">

            <section>
                @if (item.volumeInfo.imageLinks) {
                <img [src]="item.volumeInfo.imageLinks?.thumbnail" alt="{{ item.volumeInfo.title }}">
                }@else {
                <h6>This book does not have a cover</h6>
                }
                <h2 class="title">{{ item.volumeInfo.title }}</h2>

                <h4 class="btn-destaq date">Date: {{ item.volumeInfo.publishedDate | date: 'MMMM d, y' }}</h4>
            </section>

            <article>

                <div class="column">
                    <label for="range-{{item.id}}">Range ( <span>{{item.range}}</span> )</label>
                    <p-rating [(ngModel)]="item.range" [readonly]="false" [cancel]="false" (onRate)="updateBook(item)">
                    </p-rating>

                </div>

                <div>
                    <label for="tags-{{item.id}}">Tags:</label>

                    <ul>
                        <li *ngFor="let tag of item.tags; let i = index">
                            {{ tag }}
                            <button class="red" (click)="removeTag(item, i)"> <i class="pi pi-sort-down-fill "></i>
                            </button>
                        </li>
                    </ul>

                    <div class="row">
                        <input type="text" [(ngModel)]="newTag[item.id]" placeholder="New tag... máx ( 3 )" />
                        <button (click)="addTag(item)">Add Tag
                            <i class="pi pi-sort-up-fill"></i>
                        </button>
                    </div>
                </div>

                <div class="column">
                    <label for="notes-{{item.id}}">Notes</label>
                    <textarea id="notes-{{item.id}}" [(ngModel)]="item.notes" (input)="updateBook(item)" rows="4"
                        cols="50"></textarea>
                </div>

                <div >
                    <label for="favorite-{{item.id}}">Remove ➔</label>
                    <input class="remove" type="checkbox" id="favorite-{{item.id}}" [(ngModel)]="item.favorite"
                        (ngModelChange)="toggleFavorite(item)" />
                </div>


            </article>

        </div>
    </div>

    <ng-template #noBooks>
        <h3>No books found, filter another tag</h3>
    </ng-template>
</main>