<header>
    <img src='assets/images/goodreads.svg' alt="Goodreads logo">

    <div>
        <a [routerLink]="['/']" routerLinkActive="router-link-active">
            <img src='assets/icons/home.svg' alt="Goodreads logo">
            <p class="btn-destaq">Home</p>
        </a>

        <a [routerLink]="['/my-favorits']" routerLinkActive="router-link-active">
            <img src='assets/icons/favorits-header.svg' alt="Goodreads logo">
            <p class="btn-destaq">Favorite</p>
        </a>
    </div>
</header>