body {
    // texto:
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title {
    // titulos:
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn-destaq {
    // botões e destaques
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

:root {
    --background--primary: #F9F6EE;
    --text-primary: #5A4634;
    --author: #FFCC33;
    --btn-icons: #B3935C;
    --footer: #5A4634;
}

// Cor de fundo: Um bege claro (#F9F6EE)
// Cor do texto: Marrom escuro (#5A4634) para o texto "goodreads"
// Cores de destaque (estrelas de avaliação e botões):
// Amarelo (#FFCC33)
// Laranja (#FF9900)
// Cor dos botões e ícones: Tons de marrom e dourado (#B3935C)
// Cor do rodapé: Marrom escuro (#5A4634)


:host {

    .router-link-active {
        color: aqua !important;
        background-color: aqua !important;
    }
}

img {
    max-height: 200px;
    max-width: 100vw;
}