<div class="card flex justify-content-center dialog-details">
    <p-button (onClick)="showDialog()" label="Rate" icon="pi pi-star
    " />

    <p-dialog header="Form" [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" (onHide)="onDialogHide()">

        <ng-template pTemplate="header">
            <h5>
                Add a review to this book
                <i class="pi pi-tag"></i>
            </h5>
        </ng-template>


        <div class="card flex justify-content-center row">
            <label for="float-input">● Mark to favorite: </label>

            <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary" />

        </div>

        <div class="card flex justify-content-center">
            <label for="float-input">● Insert a note</label>

            <p-rating [(ngModel)]="value" [cancel]="false" />
        </div>

        <div class="card p-fluid">
            <label for="float-input">● Add a tag</label>
            <p-chips [formControl]="values" separator=" "  [max]="max" placeholder="Máx 3 tags / Write and enter later or backspace" />
        </div>


        <div class="card flex justify-content-center">
            <label for="">● Insert a note</label>
            <textarea rows="5" cols="30" [(ngModel)]="text">
                </textarea>
        </div>

        <button (click)="logValue()">
            Send
            <i class="pi pi-send"></i>
        </button>

    </p-dialog>
</div>


<p-toast />