<main>
    <section>
        <div>
            <h4 class="title">Welcome to</h4>
            <img src="assets/images/goodreads.svg" alt="Goodreads logo" />
        </div>

        <label>
            <input type="text" placeholder="Search book, name, author, ......" #search
                (keyup.enter)="searchBookOrAuthor(search.value)" />
            <button (click)="searchBookOrAuthor(search.value)">
                <img src="assets/icons/search-input.svg" alt="Search icon" />
            </button>
        </label>

        <p>Meet your favorite book, find your reading community, and manage your reading life.</p>
    </section>

    <article #booksSection>
        <h3 class="title">{{ nameSearch ? 'Your Search: ' + nameSearch : 'Trending this week' }}</h3>

        @if (books; as data) {
        <ul>
            @for(item of data; track item){
            <li>
                @if (item.volumeInfo.imageLinks && item.volumeInfo.imageLinks.thumbnail) {
                <img [src]="item.volumeInfo.imageLinks.thumbnail" alt="{{ item.volumeInfo.title }}">
                } @else {
                <p-skeleton width="10rem" height="4rem" />
                }

                <h5> {{ item.volumeInfo.title }}</h5>

                @if (item.volumeInfo.authors) {
                <p> {{ item.volumeInfo.authors }}</p>
                }@else {
                <p>Sem Autor</p>
                }

                <p-rating [ngModel]="item.randomRating" [readonly]="true" [cancel]="false"></p-rating>

                <button (click)="clickBookDetails(item.id)">
                    <h6>Read more</h6>
                    <i class="pi pi-window-maximize"></i>
                </button>
            </li>

            }@empty{
            <h2>Loading...</h2>
            }
        </ul>
        }@else {
        <li>Loss of connection</li>
        }
    </article>
</main>