<main>
    <section>
        <div>
            <h4 class="title">Welcome to</h4>
            <img src='assets/images/goodreads.svg' alt="Goodreads logo">
        </div>

        <label>
            <input type="text" (keyup.enter)="searchBookOrAuthor(search.value)"
                placeholder="Search book, name, author, ......" #search>
            <button (click)="searchBookOrAuthor(search.value)">
                <img src='assets/icons/search-input.svg' alt="Goodreads logo">
            </button>
        </label>

        <p>Meet your favorite book, find you reading community, and manage you reading life.</p>
    </section>


    <article #booksSection>

        @if (!nameSearch) {
        <h3 class="title">Trending this week</h3>
        }@else {
        <h3 class="title">Your Search: {{nameSearch}}</h3>
        }

        @if (books; as data) {
        <ul>
            @for(item of data; track item){

            <li>
                @if (item.volumeInfo.imageLinks) {
                <img [src]="item.volumeInfo.imageLinks?.thumbnail" alt="{{ item.volumeInfo.title }}">
                }@else {
                <p-skeleton width="10rem" height="4rem" />
                }

                <h5> {{ item.volumeInfo.title }}</h5>

                @if (item.volumeInfo.authors) {
                <p> {{ item.volumeInfo.authors }}</p>
                }@else {
                <p>Sem Autor</p>
                }

                <p-rating [ngModel]="item.randomRating" [readonly]="true" [cancel]="false"> </p-rating>

                <button (click)="clickBookDetails(item.id)">
                    <h6>Read more</h6>
                     <i class="pi pi-window-maximize"></i>
                </button>
            </li>

            }@empty{
            <h2>Loading...</h2>
            }
        </ul>
        }@else {
        <li>erro de conexaõa</li>
        }

    </article>

</main>